<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
	<button (click)="addTable()">Add Row</button> <br> <br>
	<table class="style">
		<tr>
			<th>Enter Title</th>
			<th>Enter Team Member</th>
			<th></th>
		</tr>
		<tr *ngFor="let item of row; let i = index">
			<td><input type="text" placeholder="Enter Title" ></td>
			<td><input type="text"placeholder="Enter Team Member" ></td>
			<td> <button (click) = "deleteRow(i)"><i class="fa fa-trash"></i></button></td>
		</tr>
	</table>
</body>

</html>